.App {
  text-align: center;
  overflow-x: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3b3833;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(214, 206, 206);
}

.App-link {
  color: #61dafb;
}

.buttons{
 display: flex;
}
.buttons button {
  margin: 1em;
  padding: 5px 1em;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.buttons :hover {
  color: rgb(22, 19, 211);
  transition: 0.3s;
}